.search-container {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px; /* redondeado de toda la barra */
}


.search-icon {
    padding: 10px;
    background-color: #f0f0f0;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #ffffff !important; 
    color: #000000 !important;           
}

.search-input::placeholder {
    color: #888888 !important;
    opacity: 1;
}


.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
    
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.search-results li span:last-child {
    margin-left: auto;
}

.search-results li:hover {
    background-color: cornflowerblue;
}

@media (max-width: 576px) {
    .search-box {
        max-width: 200px;
    }

    .search-results {
        max-width: 200px;

    }

}